@using CLAS.Model.VMs;
@model List<KeyDownRecordGroupVM>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <div class="w200  dI">拍手Id</div>
                <div class="w100 dI">拍手名称</div>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr>
                <td>
                    <div onclick="$(this).next().toggle()">
                        <div class="w200 dI">@record.BidderId</div>
                        <div class="w100 dI">@record.BidderName</div>
                    </div>
                    <div style="display: none">
                        <ul>
                            @foreach (var detail in record.Details)
                            {
                                <li class="wordField">
                                    <div onmouseover="mouseIn(this)" onmouseout="mouseOut(this)" class="word">@detail.KeyName</div>
                                    <div class="info">@(detail.Id)/@detail.KeyDownTimeName</div>
                                </li>
                            }
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    </table>
<script>
    
</script>