@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}
@using CLAS.Model.VMs;
@model List<KeyDownRecordGroupVM>
           @section Css{
               <style>
                   .wordField{ float:left }
                   .word{ text-align: right; }
                   .info { display: none}
               </style>
           }
<div class="SearchForm">
    <form id="SearchForm" action="@Url.Action("KeyDownRecord", "Bidder")">
        <input type="text" name="BidderId" value="" placeholder="拍手编号">
        <input type="text" name="StartTime" class="datepicker_time" value="@ViewBag.start" placeholder="开始时间">
        <input type="text" name="EndTime" class="datepicker_time" value="@ViewBag.end" placeholder="结束时间">
        <button class="searchButton" type="submit">搜索</button> 
    </form>

</div>

<div id="List">
    @Html.Partial("_KeyDownRecordList", Model)
</div>

@section Js{
    <script>
        var mouseIn = function(a) {
            $(a).next().show();
        }
        var mouseOut = function (a) {
            $(a).next().hide(200);
        }
    </script>
}
