@{
    ViewBag.Title = "WelCome";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}

<div class="wp100 peiField" >
    <div class="peiTitle">

    </div>
    <div class="peiContent"></div>
</div>

<div id="EMChart"  class=" hp100"></div> 
<script> 
   
</script>